* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  background: #fff;
  margin: 0px;
  line-height: 1.4;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 1.8rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: white;
}

/* Start of Navigation Bar */
#navbar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  line-height: 0;
  z-index: 10;
  border-bottom: 4px solid #fcb400;
  background-color: #1a1a1a;
  /* padding-right: 15px; */
}

ul {
  list-style: none;
}

li {
  padding: 1em;
}

li:hover {
  background-color: #fcb400;
}

.nav-list a {
  text-decoration: none;
  color: #fff;
  display: block;
  /* font-size: 1.6rem; */
  padding: 0.6rem;
}

.nav-list {
  display: flex;
  /* margin-left: 2rem; */
}

@media (max-width: 28.75em){
.nav-list {
    margin: 0 1rem;
}
}

@media (max-width: 28.75em){
#navbar {
    justify-content: center;
}
}
/* End of Navigation Bar */

/* Start of Welcome Section */
#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(26, 26, 26, 0.95);
}

h1, h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}

#welcome-section h1 {
  color: white;
  font-size: 4rem;
  font-family: sans-serif;
  text-align: center;
  
}

#welcome-section p {
  color: rgb(235, 78, 78);
  font-size: 2rem;
  text-align: center;
}
/* End of Welcome Section */

/* Start of PROJECT-SECTION */
.projects-section {
  background-color: #21525f;
  text-align: center;
  padding: 4rem 2rem;
}

img p {
  color: white;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.projects-grid a {
  text-decoration: none;
  color: white;
}

#projects h2 {
  color: white;
  margin-bottom: 4rem;
}

.project-img {
  /* height: calc(100% - 6.8rem); */
  width: 100%;
  object-fit: cover;
}

img {
  display: block;
}

.project {
  background: var(--main-gray);
  box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
  border-radius: 2px;
}

.project-title {
  font-size: 1.8rem;
  padding: 2rem 0.5rem;
}

.code {
  transition: color 0.3s ease-out;
}

.show-all {
  padding: 15px 50px;
  font-size: 1.4rem;
  background-color: #410000;
  transition: background 0.3s ease-out;
}

@media (max-width: 30.625em){
.projects-section {
    padding: 6rem 2rem;
}
.project-title {
  font-size: 100%;
}
}
/* End of PROJECT-SECTION */

/* Start of Contact Section */
#contact-section {
  background-color: #410000;
  color: white;
  padding: 80px;
}

h2 {
  font-size: 4rem;
  text-align: center;
}

.contact-section-header p {
  font-size: 1.3rem;
}

.contact-section-header {
  text-align: center;
  padding: 5px 5px 50px 5px;
}

.contact-details {
  font-size: 1.3rem;
  background-color: #410000;
  display: inline-flex;
  padding: 1rem 2.5rem;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 28.75em){
html {
    font-size: 55%;
}
}
@media (max-width: 61.25em){
html {
    font-size: 58%;
}
}
@media (max-width: 75em){
html {
    font-size: 60%;
}
}
/* End of Contact Section */

/* @media query */

/* @media screen and (max-width: 300px) {
  body {
    box-sizing: border-box;
  }
  
  #navbar {
    display: inline-block;
  }

  .projects-grid {
    display: flex;
    width: 80%;
  }

  .projects-section {
    background-color: #21525f;
    text-align: center;
    padding: 2rem 1rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  .contact-section-header p {
    font-size: 0.6rem;
  }
  .contact-details  {
    font-size: 0.6rem;
  }

} */
/* 
@media screen and (max-width: 6in) {
  #navbar {
    font-size: ;
  }

  #welcome-section h1 {
    font-size: 2rem;
  }

  #welcome-section p {
    font-size: 1.3rem;
  }

  h2 {
    font-size: 2rem;
  }
  .contact-section-header p {
    font-size: 0.8rem;
    padding: 0px;
  }
  .contact-details {
    font-size: 1rem;
  }
} */
